<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="lists">
      <ion-icon name="list-outline"></ion-icon>
      <ion-label>Lists</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="forms">
      <ion-icon name="create-outline"></ion-icon>
      <ion-label>Forms</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="cards">
      <ion-icon name="card-outline"></ion-icon>
      <ion-label>Cards</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon name="settings-outline"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>

